<div class="page-header clearfix">
			<h1 class="page-title">Editing companies</h1>
</div><!-- end .page-header -->
<%= render 'form' %>

<%= link_to 'Show', @company %> |
<%= link_to 'Back', companies_path %>
